<!doctype html>
<html ng-app="rideApp">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/> 
    
    <!--google maps-->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
     

    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700" rel='stylesheet' />
    <link rel="stylesheet" href="css/ride.css">
    <link rel="stylesheet" href="css/services.css">
  </head>

  <body>
    <div id="all">
    <div id="backgroundContainer">
      <img id="backgroundImage"></img>
    </div>
   <div id="contentContainer">
    

    <!-- google maps stuff -->

   
    <h2>Where you want to go ?</h2>
    <br>
   
    <div ng-controller="rideController as rideController">      [
      
      <form ng-submit="rideController.addRide()">
      <!-- <form ng-submit="directionsService.route(request,)"> -->
        From : <input id="from" type="text" ng-model="rideController.From"  size="30"
               placeholder="add new todo here" value="ibn gvirol 23, tel aviv">
        <br/><br/>
        To :   <input id="to" type="text" ng-model="rideController.To"  size="30"
               placeholder="add new todo here" value="usha 1 tel aviv">
        <br/><br/>  

        <!--{{rideController.From}} -->

        

     
      

     
      <h2>I care about :</h2>

      <!-- Adding the ng-app declaration to initialize AngularJS -->
      <div id="main">
        <!-- The navigation menu will get the value of the "active" variable as a class.
           The $event.preventDefault() stops the page from jumping when a link is clicked. -->

        <nav class="{{active}}" ng-click="$event.preventDefault()">

          <!-- When a link in the menu is clicked, we set the active variable -->

          <a href="#" class="fast" ng-click="active='fast'">Speed</a>
          <a href="#" class="quick" ng-click="active='quick'">Cost</a>
          <a href="#" class="green" ng-click="active='green'">Eco</a>
          <a href="#" class="healthy" ng-click="active='healthy'">Health</a>
        </nav>

        <!-- ng-show will show an element if the value in the quotes is truthful,
           while ng-hide does the opposite. Because the active variable is not set
           initially, this will cause the first paragraph to be visible. -->

        <!--p ng-hide="active">Please click a menu item</p>
        <p ng-show="active">You chose <b>{{active}}</b></p-->

      </div>

      <input id="rideSubmit" class="btn-primary" type="submit" value="Go !">

      <br><br><br>

      <div id="map" style="width: 400px; height: 300px;"></div> 

 
  </form>


  
  <ul id="optionsList">
    <li ng-repeat="rideOption in rideController.rideOptions">
        {{rideOption.from}}
        {{rideOption.to}}
        {{rideOption.cost}}
    </li>

  </ul>
    <!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script-->
        <script src="dist/angular.min.js"></script>

    <script type="text/javascript" src="js/maps.js"></script>
    <script src="js/ride.js"></script> 
    </div>
    </div>

  </body>
</html>

